body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
}

.sidebar {
  display: flex;
}

.profile {
  z-index: 1;
}

.background-photo {
  z-index: inherit;
}