body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

.sidebar {
  display: flex;
  width: 415px;
  background-color: grey;
}

.profile {
  z-index: 1;
  position: absolute;
 
}

.background-photo {
  z-index: 0;
  position: absolute;
}